//variables
:root {
    --send: #272d26;
    --delete: #393029;
    --get: #252b2c;
    --search: #201c21;
    --font: #ffffff;
    --rounded: 15px;
    --active: solid #ffffff 3px;
    --window: 100vh;
    --izquierda: 15px;
}

//titulos y header
h3, h4, p {
    margin-left: var(--izquierda);
}

h4 {
    text-decoration: underline;
    display: block;
    padding-bottom: 15px;
    color: #def7ff;
}

img {
    width: 80px;
    margin-left: 90vw;
  }

nav {
    background-color: #24241f;
    padding-top: 20px;
    text-align: left;
    font-size: small;
}

a {
    // font-weight: bold;
    color: var(--font);
}

#app {
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    color: var(--font);
}

.header {
    padding: 15px;
    font-size: larger;
}

#send {
    &.router-link-exact-active {
        background-color: var(--send);
        border-radius: var(--rounded);
        border: var(--active);
  }
}

#delete {
    &.router-link-exact-active {
        background-color: var(--delete);
        border-radius: var(--rounded);
        border: var(--active);
  }
}

#get {
    &.router-link-exact-active {
        background-color: var(--get);
        border-radius: var(--rounded);
        border: var(--active);
  }
}

#search {
    &.router-link-exact-active {
        background-color: var(--search);
        border-radius: var(--rounded);
        border: var(--active);
  }
}

//main y divs
.column {
    float: left;
    width: 50%;
    margin-bottom: 25px;
    }

.home, .column, .column2 {
    background-color: var(--send);
}

.delete, .delete_2 {
    background-color: var(--delete);
    height: var(--window);    
}

.getOne {
    background-color: var(--get);
    height: var(--window);
    width: var(--wall);
}

.search {
    background-color: var(--search);
}

.bottom {
    margin-bottom: 250px;
}

//interaccion
input, select {
    margin-left: var(--izquierda);
}

.erase {
    background-color: #f5e1df;
}

.reset {
    background-color: #ebfbfa;
}

button {
    margin: 20px;
    padding: 15px;
    background-color: #eeecf4;  
    color: #000000; 
    font-size: 15px;
    border-radius: 10px; 
    cursor: pointer;
    font-weight: bold;
    }
        button:hover {
            border: var(--active);
        }   
input[type=radio] {
    transform: scale(1.5);
}


