//VARIABLES
:root {
    --send: #272d26;
    --delete: #251f1a;
    --get: #252b2c;
    --search: #201c21;
    --config: #292919;
    --font: #fafafa;
    --active: solid #ffffff 3px;
    --size: 15px;
    --window: 80vh;
}

:root {
    font-weight: bold;
}

//TITLES & NAV
h3, h4, p {
    margin-left: var(--size);
}

label {
    margin: var(--size);
}

.title {
    padding-bottom: 15px;
}

nav {
    background-color: #000;
    font-size: small;
}

a {
    color: var(--font);
}

#app {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--font);
}

.header {
    padding: var(--size);
    font-size: larger;
}

#send, #delete, #search, #config {
    &.router-link-exact-active {
        border: var(--active);
  }
}

#send {
    &.router-link-exact-active {
        background-color: var(--send); 
        margin-right: var(--size);
    }
}

#delete {
    &.router-link-exact-active {
        background-color: var(--delete);
        margin-right: var(--size);
  }
}

#search {
    &.router-link-exact-active {
        background-color: var(--search);
  }
}

#config {
    &.router-link-exact-active {
        background-color: var(--config);
  }
}

//DIVS
.container, .home {
    background-color: var(--send);
    height: var(--window);
}

.column, .column2, .column3  {
    float: left;
}

.column {
    margin-top: -20px;
}

.column2 {
    margin-top: 40px;
}

.column3 {
    margin-top: -20px;
}

.column4 {
    margin-top: 40px;
    margin-left: 715px;
}

.column5 {
    margin-top: 15px;
}

.column6 {
    margin-top: 265px;
    position: absolute;
}

.delete {
    background-color: var(--delete);
    height: var(--window);  
}

.getOne {
    background-color: var(--get);
    height: var(--window);
}

.search {
    display: grid;
    background-color: var(--search);
    height: var(--window);
}


.config {
    background-color: var(--config);
    height: 90vh;
}

.columnButtons {
    float: left;
    margin-left: 15px;
}

//INTERACTION
input, select {
    margin-left: var(--size);
}

.button, .reset {
    margin: var(--size);
    padding: 10px;
    background-color: #e9e7ee;  
    color: #000; 
    font-size: 15px;
    border-radius: var(--rounded); 
    cursor: pointer;
    font-weight: bold;
    }
        button:hover {
            border: var(--active);
        } 

input[type=checkbox] {
    transform: scale(1.5);
    position: relative;
}

input[type=number], input[type=text], input[type=file], input[type=date] {
   margin-bottom: 20px;
}

//DROPDOWN
.dropbtn {
    color: var(--font);
    padding: 20px;
    font-size: 15px;
    border-radius: var(--rounded);
    margin-right: 10px;
}
  
.dropdown {
    text-align: center;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    font-size: larger;
}

.dropdown-content a {
    color: var(--font);
    padding: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--font);
    border: solid #fff 3px;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #000;
    background-color: var(--font);
}

.fieldset {
    margin-top: -20px;
    margin-left: var(--size);
    float: left;
    display: table;
}

.fieldset p,
.fieldset h4 {
    display: table-row;
}

.fieldset input, 
.fieldset select, 
.fieldset label {
    display: table-cell;
    margin: 3px;
}

#field {
    margin-left: -15px;
}