//variables
:root {
    --send: #272d26;
    --delete: #393029;
    --get: #252b2c;
    --search: #201c21;
    --config: #292919;
    --font: #ffffff;
    --rounded: 15px;
    --active: solid #ffffff 3px;
    --window: 100vh;
    --size: 15px;
}

:root {
    font-weight: bold;
}

//titulos y header
h3, h4, p {
    margin-left: var(--size);
}

label {
    margin: var(--size);
}

.title {
    padding-bottom: 15px;
}

nav {
    background-color: #24241f;
    padding-top: 15px;
    text-align: left;
    font-size: small;
}

a {
    font-weight: bold;
    color: var(--font);
}

#app {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--font);
}

.header {
    padding: 15px;
    font-size: larger;
}

#send {
    &.router-link-exact-active {
        background-color: var(--send);
        border-radius: var(--rounded);
        border: var(--active);
  }
}

#delete {
    &.router-link-exact-active {
        padding: 10px;
        background-color: var(--delete);
        border-radius: var(--rounded);
        border: var(--active);
  }
}

#get {
    &.router-link-exact-active {
        padding: 10px;
        background-color: var(--get);
        border-radius: var(--rounded);
        border: var(--active);
  }
}

#search {
    &.router-link-exact-active {
        background-color: var(--search);
        border-radius: var(--rounded);
        border: var(--active);
  }
}

#config {
    &.router-link-exact-active {
        background-color: var(--config);
        border-radius: var(--rounded);
        border: var(--active);
  }
}

//main y divs
.container, .home {
    display: grid;
    background-color: var(--send);
    height: 85vh;
}

.column, .column2, .column3  {
    float: left;
}

.column {
    margin-top: -20px;
}

.column2 {
    margin-top: 40px;
}

.column3 {
    margin-top: -20px;
    margin-left: 15px;
}

.column4 {
    margin-top: 40px;
    margin-left: 715px;
}

.column5 {
    margin-top: 15px;
}

.column6 {
    margin-left: 485px;
    margin-top: -140px;
}

.delete {
    background-color: var(--delete);
    height: 85vh;  
}

.getOne {
    background-color: var(--get);
    height: 85vh;
}

.search {
    display: grid;
    background-color: var(--search);
    height: 85vh;
}

.bottom {
    margin-bottom: 250px;
}

.columnButtons {
    margin-left: 215px;
    margin-top: 40px;
}

.config {
    background-color: var(--config);
    height: 90vh;
}

//interaccion
input, select {
    margin-left: var(--size);
}

.button, .reset {
    margin: 15px;
    padding: 10px;
    background-color: #eeecf4;  
    color: #000000; 
    font-size: 15px;
    border-radius: 10px; 
    cursor: pointer;
    font-weight: bold;
    }
        button:hover {
            border: var(--active);
        } 

input[type=radio] {
    transform: scale(1.5);
    position: relative;
    left: 10px;
}

input[type=number], input[type=text], input[type=file], input[type=date] {
   margin-bottom: 20px;
}

// dropdown

/* Dropdown Button */
.dropbtn {
    padding: 15px;
    font-size: larger;
    background-color: var(--search);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    border: solid #8da590 3px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--search);
    min-width: 15px;
    z-index: 1;
    font-size: larger;
    border-radius: 15px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    display: block;
    border: solid #fff 3px;
    border-radius: 15px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #6e6e6e;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #09690c;
}
