h3 {
    margin: 40px 0 0;
  }

img {
    width: 300px;
  }

.column {
    float: left;
    width: 50%;
    margin-bottom: 25px;
    }

.column2 {
    float: left;
    width: 50%;
    }

button {
    margin: 20px; 
    background-color: #290d76;  
    color: white; 
    font-size: 20px;
    border-radius: 10px; 
    cursor: pointer;
    padding: 10px;
    }   

input, select {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    }

.erase {
    background-color: #781d13;
    }

.reset {
    background-color: #0d7673;
}

nav {
    background-color: rgb(242, 245, 210);
}

.home, .column {
    background-color: rgb(223, 246, 218);
}

.delete {
    background-color: #fdd7ba;
}

.getOne {
    background-color: #dff8ff;
}

.search {
    background-color: #f8dfff;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #1b2631;
  }

  nav {
    padding: 30px;
  }
